@model GlobalgeobitsTask.ViewModel.IndexVM

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>

<p>
    <a asp-action="Add">Create New Item</a>
</p>
@using (Html.BeginForm("EditPrices", "Item", FormMethod.Post))
{
   <table class="table">
    <tbody>
        <tr>
            <th>Item Name</th>
            @foreach (var item in Model.Items)
            {
                <td>@Html.DisplayFor(model => item.ItemName)</td>
            }
        </tr>
        <tr>
            <th>Brand</th>
            @foreach (var item in Model.Items)
            {
                <td>@Html.DisplayFor(model => item.Brand)</td>
            }
        </tr>
        <tr>
            <th>Model</th>
            @foreach (var item in Model.Items)
            {
                <td>@Html.DisplayFor(model => item.model)</td>
            }
        </tr>
        <tr>
            <th>Color</th>
            @foreach (var item in Model.Items)
            {
                <td>@Html.DisplayFor(model => item.Color)</td>
            }
        </tr>
        <tr>
            <th>Price</th>
                @for(int i=0;i< Model.Items.Count();i++)
                {
                    @Html.HiddenFor(m => m.Items[i].ItemID)
                    @Html.HiddenFor(m => m.Index)
                    <td>
                            <div class="form-group w-50">
                                @Html.TextBoxFor(m => m.Items[i].Price, new { @class = "form-control" })
                            </div>
                    </td>
                }
    </tbody>
</table>
   <input type="submit" value="save" class="btn btn-primary" />
}


<div class="d-flex justify-content-between">
    <div>
        <a class="btn @(Model.Index == 0 ? "disabled text-secondary" : "")" asp-action="Index" asp-route-id="@(Model.Index-1)"> <i class="fa-solid fa-arrow-left fa-3x"></i> </a>
    </div>
    <div>
        <a class="btn @((Model.Index+1) * 3 >= ViewBag.ItemCount ? "disabled text-secondary" : "")" asp-action="Index" asp-route-id="@(Model.Index+1)"> <i class="fa-solid fa-arrow-right fa-3x"></i> </a>
    </div>
</div>

<p>Page No. : [ @(Model.Index + 1) - @(ViewBag.ItemCount / 3 + (ViewBag.ItemCount % 3 > 0 ? 1 : 0)) ]</p>
<p>No. Items : @ViewBag.ItemCount</p>
